
<div class="row">
              
                <div class="col-md-10">
                
                 <div class="col-md-6 mt-5">
                 
                      <a href="/show-employee-input" class="btn btn-primary">Add Employee</a>
                      
                      <a href="/show-employee-list" class="btn btn-primary">Employee List</a>
                      
                      <a href="/department" class="btn btn-primary"> Add Department </a>
                      
                      <a href="/showdept" class="btn btn-primary"> Department List </a>
                
                </div>
                
                </div>
                
                </div>
               
                